.nav-item{
  font-size: 25px;
  margin-left: 40px;
  color: #009fe3 !important;
}
.nav-item:hover{
  color: rgba(0, 0, 0, 0.774);
}
.navbar{
  height: 100px;
}
.navbar-nav{
  margin-left: 50px;
}
.btnClass{
  color: #009fe3;
  border: 2px solid #009fe3;
  border-radius: 20px;
  font-size: 25px;
  margin-left: 40px;
  padding: 10px;
  box-sizing: border-box;
}
.btnClass:hover{
  border: 2px solid rgba(0, 0, 0, 0.747);
  color: rgba(0, 0, 0, 0.712);
}