.slick-slider{
  width: 90% !important;
  margin: auto;
}


.slick-prev,
.slick-next
{
  /* transform: scale(5, 5) !important; */
  /* color: black !important; */
  background-color: black !important;
  border-radius: 50%;
}